{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}

        {{ $series := .Site.Taxonomies.series.ByCount }}
        {{ if $series }}
        <div class="series-list">
            <h2>Series</h2>
            <ul>
            {{ range $series }}
                <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }} ({{ .Count }})</a></li>
            {{ end }}
            </ul>
        </div>
        {{ end }}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}
